* body {

    background-image: url(Assests/MacBook\ Air\ -\ 2\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


#Page0 {
    box-sizing: border-box;
    width: 900px;
    padding: 24px;
    margin: auto;
    margin-bottom: 20px;

}


#h0 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: auto;
    color: azure;
    
}


#Page {
    box-sizing: border-box;
    width: 900px;
    padding: 24px;
    background-color: #20385caf;
    border-radius: 8px;
    margin: auto;
    border: 2px solid rgb(71, 71, 71);
    margin-bottom: 20px;

}

#Foto_1 {
    display: block;
    width: 500px;
    border-radius: 8px;
    margin: auto;
    text-align: center;




}


#h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: auto;
    color: azure;

}

#txt_1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 18px 80px;
    color: azure;
    font-size: 16px
}

#Page2 {
    box-sizing: border-box;
    width: 900px;
    padding: 24px;
    background-color: #41202083;
    border-radius: 8px;
    margin: auto;
    border: 2px solid rgb(71, 71, 71);
    margin-bottom: 20px;


}

#Foto_2 {
    display: block;
    width: 500px;
    border-radius: 8px;
    margin: auto;
    text-align: center;

}


#txt_2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 18px 80px;
    color: azure;
    font-size: 16px;

}


#Page3 {
    box-sizing: border-box;
    width: 900px;
    padding: 24px;
    background-color: #52474783;
    border-radius: 8px;
    margin: auto;
    border: 2px solid rgb(71, 71, 71);


}


#Foto_3 {
    display: block;
    width: 500px;
    border-radius: 8px;
    margin: auto;
    text-align: center;

}

ul li {
    list-style: none;
    position: relative;
    display: flex;
    left: 40px;
    padding-bottom: 18px;
}

ul li::before {
    left: -40px;
    content: "👹";
    position: absolute;

}


#list {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 18px 80px;
    color: azure;
    font-size: 16px;
    list-style: none;


}


footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 18px 80px;
    color: azure;
    font-size: 16px;

}